<section>MovieBook</section>
<br><br>
<div class = "center">
  <input type="text" id="searchBox" [(ngModel)]="searchBox" placeholder="Search for Movies..." />
</div>
<br><br>
<button type="submit" value="Search" (click)="searchFunc()">Search</button>
<br><br>
<div *ngIf="display" class="center" id="content">
  <table>
    <tr>
      <td>
        <img src="{{ img }}">
      </td>
      <td>
        <b>Title:</b> "{{ mTitle }}"<br><br>
        <b>Year:</b> "{{ year }}"<br><br>
        <b>Year:</b> "{{ year }}"<br><br>
        <b>Rating:</b> "{{ rated }}"<br><br>
        <b>Released:</b> "{{ released }}"<br><br>
        <b>Runtime:</b> "{{ runtime }}"<br><br>
      </td>
    </tr>
  </table>
</div>